In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('people.csv')

In [3]:
df.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
len(df)

59071

In [5]:
obama = df[df['name'] == 'Barack Obama']

In [6]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [7]:
obama['text']

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

In [15]:
import pandas as pd
from collections import Counter

# Supondo que você já tenha carregado os dados em um DataFrame chamado "obama"
# Exemplo de como criar o DataFrame:
obama = pd.DataFrame({'text': ['Primeiro texto aqui.', 'Segundo texto aqui.']})

# Função para contar as palavras em um texto
def count_words(text):
    # Divida o texto em palavras
    words = text.split()
    # Conte a ocorrência de cada palavra usando a biblioteca Counter
    word_count = Counter(words)
    return word_count

# Aplica a função 'count_words' à coluna 'text' e cria uma nova coluna 'word_count' no DataFrame
obama['word_count'] = obama['text'].apply(count_words)

In [16]:
obama['word_count'] = obama['text'].str.split().str.len()
#obama_copy = obama.copy()
#obama_copy.loc[:, 'word_count'] = obama_copy['text'].str.split().str.len()

In [17]:
print(obama)

                   text  word_count
0  Primeiro texto aqui.           3
1   Segundo texto aqui.           3

In [18]:
# Transforme o dicionário de contagem de palavras em linhas separadas
obama_word_count = obama.explode('word_count')

# Renomeie as colunas para 'word' e 'count'
obama_word_count = obama_word_count.rename(columns={'word_count': 'word', 'word_count': 'count'})

# Resetar o índice para obter uma nova numeração de linhas (opcional)
obama_word_count = obama_word_count.reset_index(drop=True)

In [19]:
obama_word_count.head()

                   text  count
0  Primeiro texto aqui.      3
1   Segundo texto aqui.      3